@font-face {
  font-family: ZhuZiAYuanJWD;
  src: url(https://cdn.cbd.int/anzhiyu-blog@1.1.6/fonts/ZhuZiAWan.woff2);
  font-display: swap;
  font-weight: lighter;
}

body,
html {
  height: 100%; /* 高度设定 */
  margin: 0;
  padding: 0;
  font-weight: 400;
  overflow: hidden;
   background-color: rgb(241, 241, 241); 
  /* CSS3 抗锯齿形 让文字显示的更加清晰 */
  -webkit-font-smoothing: antialiased;
  /* font-family: ZhuZiAYuanJWD; */
  line-height: 1.5;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\5fae\8f6f\96c5\9ed1,Arial,sans-serif;
}

/* 路由动画 */
.child-view {
  position: absolute;
  width:100%;
  overflow: hidden;
  transition: all .8s cubic-bezier(.55, 0, .1, 1);
}

/* 离开 */
/* .slide-fade-leave-to {
  opacity: 0;
  transform: translateX(50px)
} */
/* 进入 */
/* .slide-fade-enter-from {
  opacity: 0;
  transform: translateX(-50px)
} */

/* .fade-enter {
  opacity: 0;
  transform: translateX(-100px);
} */

.fade-enter-from {  
  opacity: 0;
  transform: translateX(-30px);
}

.fade-enter-to { 
  opacity: 1;
  transform: translateX(0px);
}

.fade-leave-to{
  opacity: 0;
  transform: translateX(100px)
}

.fade-enter-active,
.fade-leave-active {
  /* transition: all 1s; */
  transition: all .6s cubic-bezier(.55, 0, .1, 1);
}

